flask
flask-cors
pandas
python-dotenv
google-genai
pypdf
webvtt-py
pymongo
gunicorn
spacy
textblob
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl